.posts {
  background-color: #F0F2F5;
  display: flex;
  justify-content: center;
}

.post {
  display: flex;
  flex-direction: column;
  width: 520px;
  border-radius: 3%;
  background-color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
}
.post__heading {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.post__picture {
  height: 50px;
  width: 50px;
  background-image: url("img/posts/mon.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
#myDiv {
  display: none;
  text-align: center;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  height: 40px;
  padding: 1em;
}

.top_nav__facebook {
  display: flex;
  width: 40px;
  height: 40px;
  background: linear-gradient(0deg, #0062E0 2.92%, #19AFFF 100%);
  border-radius: 50%;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}

.search {
  width: 281px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  background: #F1F2F5;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  border-radius: 100px;
  margin-left: 1%;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  margin-top: 10px;
  overflow: hidden;
}

.menu__profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #080808;
  margin-right: 10px;
  cursor: pointer;
}

.menu__circle1 {
  background: black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 10px;
  cursor: pointer;
}

.top_nav__iconlist__icons {
  margin-right: 1%;
  margin-left: 1%;
  width: 30px;
  height: 30px;
  margin-top: 5px;
  cursor: pointer;
}

.top_nav__right__circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #E5E6EB;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.top_nav__right__icon {
  fill: #66676B;
  width: 20px;
  height: 20px;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: rgb(8, 62, 239);
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
  margin-bottom: 20px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.menu__profile_min {
  display: none;
}

@media (max-width: 1100px) {
  .menu-button-container {
    display: flex;
  }
  .menu__profile_min {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #080808;
    margin-right: 10px;
    cursor: pointer;
    margin-right: 200px;
  }
  .menu__circle1_min {
    background: black;
    border-radius: 50%;
    height: 40px;
    width: 50px;
    margin: 10px 10px 10px 10px;
    cursor: pointer;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}/*# sourceMappingURL=style.css.map */